.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main {
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {
  padding: 0px 15px;
  background: #035055;

  &--navigation {
    max-width: 1020px;
    margin: 0 auto;
    &-item {
      color: #ffffff;
      font-size: 20px;
      line-height: 20px;
      padding: 15px 10px;
      display: inline-block;
      transition: 0.3s;

      &:hover,
      &.active {
        background: #ffffff;
        color: #035055;
      }
    }
  }
}

.Footer {
  padding: 20px 15px;
  background: #035055;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
